/*  DEFAULTS */

body{
	background: #FAFAFA;
}

body, a, p, h1, h2, h3, h4, h5, h6{
	font-family: 'Muli', sans-serif;
}

a{
	color: #333;
}

a:hover, a:focus{
	text-decoration: none;
	color: red;
}

#main{
	background: #FAFAFA;
	margin-top: 23px;
}

#logo{

}

#logo-img{
	width: 500px;
	height: 45px;
	background: url(../images/anthem.png) no-repeat;
	background-size: contain;
}

.navbar-default {
	background-color: rgba(0,0,0,0.8);
}

.navbar-default {
}

.navbar a{
	text-transform: uppercase;
}

.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

#search{
	z-index: 9999;
	padding: 5px;
}

.search-icon{
	position: fixed;
	right: 3%;
	top: 15px;
}

#search-bar{
	width: 130px;
	position: fixed;
	right: 2%;
	-webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#search-bar:focus{
	position: fixed;
	right: 2%;
	width: 70%;
}

.page-title{
	font-weight: 400;
}
/* SECTION ALBUM */
#album-info span{
	font-weight: bold;
}

#sort-result{
	visibility: hidden;
}

.text-justify {
  text-align: justify;
}

/* SECTION: Lyrics */

#lyrics-page-title{

}

#lyrics-details{
	padding: 20px;
	border-right: solid 1px #D8D8D8;
}

	#lyrics-album-art{

	}

	#lyrics-album-art img{

	}

	#lyrics-info{

	}

		#lyrics-title{
			font-size: 1.8em;
			line-height: 130%;
			color: red;
		}

		#lyrics-artist{
			font-size: 1.2em;
			line-height: 130%;
		}

		#lyrics-album-name{
			font-size: 1em;
			line-height: 130%;
		}

#lyrics-body{
	margin-top: 35px;
}

	#lyrics-contents{
		
	}

	#lyrics-contents p{
		line-height: 200%;
		padding-bottom: 20px;
		padding-left: 35px;
	}

#lyrics-related{
	background: #eee;
}

	#preview-about{
		
	}

		#preview-about img{
			margin-top: 20px;
		}

		#preview-about h3{
			font-size: 1.3em;
		}

		#preview-about h6{
			font-size: 1.3em;
		}

		#preview-about p{
			font-size: 0.8em;
			margin-bottom: 25px; 
		}

		#preview-about a{
		}

		#more-bio{
			position: relative;
			padding: 7% 15%;
			font-size: 0.7em;
			top: -5px;
			background: #FFF;
		}

	#preview-disc{
		
	}

		#more-disc{
			position: relative;
			padding: 7%;
			font-size: 0.7em;
			top: -25px;
			background: #FFF;
		}

		#more-disc:hover, #more-bio:hover{
			background: #D1D1D1;
			color: #333;
		}

		#preview-disc h5{
			
		}

		#preview-disc ul{
			margin-bottom: 45px;
		}

		#preview-disc li{
			
		}

		#preview-disc li a{
			
		}

		#preview-disc img{

		}

		#preview-disc h6{
			margin: 5px 0;
		}

		#preview-disc p{
			font-size: 0.8em;
		}
/* SECTION: ARTIST */
#artist-discography div{
	padding: 0;
}
ul#artist-album-list li:nth-child(odd){
	background: #eee;	
}

.artist-album-item{
	padding: 20px !important;
}

/* SECTION: Artists */

#artists { 
	margin: 0 auto; 
	overflow: hidden; 
	height: 300px; 
}

.info-col { float: left; height: 100%; padding: 0; }
.info-col h2 { text-align: center; font-weight: normal; padding: 25px 0; }


.artist-1 { background: url(../images/accordion-artist-1.jpg) center center no-repeat; }
.artist-2 { background: url(../images/accordion-artist-2.jpg) center center no-repeat; }
.artist-3 { background: url(../images/accordion-artist-3.jpg) center center no-repeat; }
.artist-4 { background: url(../images/accordion-artist-4.jpg) center center no-repeat; }
.artist-5 { background: url(../images/accordion-artist-5.jpg) center center no-repeat; }

.image { 
	height: 300px; 
	text-indent: -9999px; 
	display: block; 
	border-right: 1px solid white; 
	background-size: cover;
}
dt { padding: 5px; background: #900; color: white; border-bottom: 1px solid white; border-right: 1px solid white; margin-top: -50px; text-shadow: 3px 3px 30px rgba(0,0,0,0.8);}
dd { position: absolute; left: -9999px; top: -9999px; width: 299px; background: #900; padding: 10px; color: white; border-right: 1px solid white; }

dt:nth-of-type(1) { background: none; }
dd:nth-of-type(1) { background: none; }

dt:nth-of-type(2) { background: #ff7d3e; }
dd:nth-of-type(2) { background: #ff7d3e; }

dt:nth-of-type(3) { background: #ffb03b; }
dd:nth-of-type(3) { background: #ffb03b; }

dt:nth-of-type(4) { background: #c2a25c; }
dd:nth-of-type(4) { background: #c2a25c; }

dt:nth-of-type(5) { background: #4c443c; }
dd:nth-of-type(5) { background: #4c443c; }

dt:nth-of-type(6) { background: #656b60; }
dd:nth-of-type(6) { background: #656b60; }

.curCol { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); z-index: 1; position: relative; }

/* SECTION: Albums */

#albums{

}

	.album{

	}

		.album-info{

		}

			.album-img{
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}

			.album-img:hover{
				-webkit-transform: scale(1.1);
			}

			.album-info p{
				padding: 10px 0 0 0;
			}

		.album-link{
			color: #333;
			font-weight: bold;
		}

		.artist-link{
			color: #333;
		}

/* SECTION: Songs */

#songs ol{
	border: 1px solid #E5E5E5;
	padding: 0;
}

#songs li{
	list-style-type: decimal;
	list-style-position: inside;
}

#songs li.song:nth-child(even){
	background: #F5F5F5;
}

.song-title{
	font-size: 1em;
	font-weight: bold;
	color: #333;
}

.artist-name{
	padding: 0 15px;
}

/* SECTION: ABOUT */
#about-team{
	padding: 20px 0;
}

#qr-code img{
	margin: 0 auto;
}

#about-team img{
	margin: 0 auto;
	border-radius: 125px;

	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
	
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;

}

#about-team img:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}


/* ===================== PAGES ======================= */
#top-artists-list{
	border: 1px solid #E5E5E5;
	padding: 0;
}

li.artist{
	list-style-type: decimal;
	list-style-position: inside;
	padding: 8px;
}

li.artist:nth-child(even){
	background: #eee;
}


#artists-title{

}
	#result-sorting{
		padding: 30px;
	}

	#result-sorting li a:hover{
		border-bottom: solid 2px rgb(224, 71, 71);
		padding: 0;
	}

.artist-page{

}

	.artist-page ul{
		
	}

	

#artists-pagination{
	padding: 0;
	margin-top: 50px;
}
	.page-arrows{
		
	}

		#arrow-prev{
			
		}

		#arrow-next{
			
		}

	.page-selector{
		
	}

	.page-selector ul{
		
	}

	li.page-selector-item{
		width: 6%;
	}

	.page-selector-item a{
		font-size: 1.2em;
		background: #333;
		padding: 20px;
		border-radius: 5px;
	}


#album-details li.album-thumb:nth-child(even){
	background: #eee;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

.fb-comments{width: 100% !important;}
.fb-comments iframe[style]{width: 100% !important;}
.fb-like-box{width: 100% !important;}
.fb-like-box iframe[style]{width: 100% !important;}
.fb-comments span{width: 100% !important;}
.fb-comments iframe span[style]{width: 100% !important;}
.fb-like-box span{width: 100% !important;}
.fb-like-box iframe span[style]{width: 100% !important;}

#search-results span{
	font-weight: bold;
}
footer{
	font-size: 0.8em;
	padding: 50px;
}