/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*  DEFAULTS */

#main{
	background: #FAFAFA;
	margin-top: 50px;
}

ul, li{
	list-style: none;
}

.navbar-default {
	background-color: rgba(255,255,255,0.9);
	border-color: #FFF;
}

/* SECTION: Artists */

#artists { 
	margin: 0 auto; 
	overflow: hidden; 
	height: 300px; 
}

.info-col { float: left; width: 132px; height: 100%; padding: 0; }
.info-col h2 { text-align: center; font-weight: normal; padding: 25px 0; }


.artist-1 { background: url(../images/accordion-artist-1.jpg) center center no-repeat; }
.artist-2 { background: url(../images/accordion-artist-2.jpg) center center no-repeat; }
.artist-3 { background: url(../images/accordion-artist-3.jpg) center center no-repeat; }
.artist-4 { background: url(../images/accordion-artist-4.jpg) center center no-repeat; }
.artist-5 { background: url(../images/accordion-artist-5.jpg) center center no-repeat; }

.image { 
	height: 300px; 
	text-indent: -9999px; 
	display: block; 
	border-right: 1px solid white; 
	background-size: cover;
}
dt { padding: 5px; background: #900; color: white; border-bottom: 1px solid white; border-right: 1px solid white; margin-top: -50px; text-shadow: 3px 3px 30px rgba(0,0,0,0.8);}
dd { position: absolute; left: -9999px; top: -9999px; width: 299px; background: #900; padding: 10px; color: white; border-right: 1px solid white; }

dt:nth-of-type(1) { background: none; }
dd:nth-of-type(1) { background: none; }

dt:nth-of-type(2) { background: #ff7d3e; }
dd:nth-of-type(2) { background: #ff7d3e; }

dt:nth-of-type(3) { background: #ffb03b; }
dd:nth-of-type(3) { background: #ffb03b; }

dt:nth-of-type(4) { background: #c2a25c; }
dd:nth-of-type(4) { background: #c2a25c; }

dt:nth-of-type(5) { background: #4c443c; }
dd:nth-of-type(5) { background: #4c443c; }

dt:nth-of-type(6) { background: #656b60; }
dd:nth-of-type(6) { background: #656b60; }

.curCol { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); z-index: 1; position: relative; }

/* SECTION: Albums */

#albums{

}

	.album{

	}

		.album-info{

		}

			.album-img{

				-webkit-transform: rotate(-360deg);
				-moz-transform: rotate(-360deg);
				-ms-transform: rotate(-360deg);
				-o-transform: rotate(-360deg);
				transform: rotate(-360deg);
				
				-webkit-transition: all 2s ease-in-out;
				-moz-transition: all 2s ease-in-out;
				-ms-transition: all 2s ease-in-out;
				-o-transition: all 2s ease-in-out;
				transition: all 2s ease-in-out;
			}

			.album-img:hover{
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
			}

			.album-info p{
				text-align: center;
			}


/* SECTION: Songs */

#songs ol{
	border: 1px solid #E5E5E5;
	padding: 0;
}

#songs li{
	list-style-type: decimal;
	list-style-position: inside;
}

#songs li.song:nth-child(even){
	background: #eee;
}

.artist-name{
	padding: 0 20px;
}

footer{
	padding: 25px;
}