<?xml version="1.0"?>
<configuration>
    <system.webServer>
      <defaultDocument enabled="true">  
         <files>      
            <clear/>                  
            <add value="index.html"/>
         </files>
      </defaultDocument>
      <modules runAllManagedModulesForAllRequests="true"/>
   </system.webServer>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="DynamicRewrite" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}\.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>